.header{
    grid-area: h;
    background-color: #481a1a;
    border-radius: 8px;
}

.logo{
    font-family: CyberwarRegular, sans-serif;
    font-size: 24px;
    color: #b11bb7;
    letter-spacing: 2px;
    margin-left: 20px;
}