.nav{
    grid-area: n;
    background-color: aqua;
    border-radius: 8px;
    padding: 20px;
}
.item{
    color: white;
    text-decoration: none;

}

.activeLink{
    color: red;
    text-decoration: none;

}
