.nav{
    grid-area: n;
    background-color: dodgerblue;
    border-radius: 8px;
    padding: 20px;
}
.item{
    color: white;
    text-decoration: none;
    font-family: "Comic Sans MS", sans-serif;
}

.activeLink{
    color: red;
    text-decoration: none;
    font-family: "Comic Sans MS", sans-serif;
}
