.nav{
    grid-area: n;
    background-color: #481a1a;
    border-radius: 8px;
    padding: 20px;
}
.item{
    color: white;
    text-decoration: none;
    font-family: "CyberwarRegular", sans-serif;
    font-size: 24px;
    line-height: 35px;
}

.activeLink{
    color: #b11bb7;
    text-decoration: none;
    font-family: "CyberwarRegular", sans-serif;
    font-size: 24px;
}
