.App{
    display: grid;
    margin: 0 auto;
    width: 1600px;
    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-content-c{
    grid-area: c;
    background-color: dodgerblue;
    border-radius: 8px;
}



