.dialogs{
    display: grid;
    grid-template-columns: 2fr 4fr 6fr;
}
.dialogsItems a{
    margin-left: 5px;
    text-decoration: none;
    color: white;
    font-family: "Comic Sans MS", sans-serif;
}
.dialogsItems a.active{
    color: darkred;
}

.messages{
    color: darkred;
    font-family: "Comic Sans MS", sans-serif;
}
.message{

}
.messageInput{

}
